<script>
    MathJax = {
        loader: { load: ['ui/lazy'] },
        tex: {
            displayMath: [['\\[', '\\]'], ['@@', '@@']],  // block
            inlineMath: [['\\(', '\\)'], ['@', '@']],      // inline
        },
        chtml: {
            mtextInheritFont: true
        },
        options: {
            enableMenu: false,
            lazyMargin: '200px',
            lazyAlwaysTypeset: null
        }
    };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-chtml.js"></script>