{{ $type := .Get "type" | default "normal" }}
{{ $content := .Get "content" }}
{{ $heading := .Get "heading" }}
{{ $ariaLabel := .Get "ariaLabel" }}
{{ $borderColor := .Get "borderColor" | default "main" }}
{{ $width := .Get "width" | default "auto" }}
{{ $height := .Get "height" | default "auto" }}
{{ $bgColor := .Get "bgColor" | default "transparent" }}
{{ $textColor := .Get "textColor" }}
{{ $marginY := .Get "marginY" | default "1rem" }}

{{ if eq $type "heading" }}
<div class="flex justify-center items-center">
    <div 
    aria-label="{{ $ariaLabel }}" 
    class="heading-box flex px-4 border rounded-md my-[{{ $marginY }}]{{ if $bgColor }} bg-[{{ $bgColor }}]{{ end }}{{ if $textColor }} text-[{{ $textColor }}]{{ end }}{{ if $borderColor }} border-[{{ $borderColor }}]{{ else }} border-main{{ end }}">
        {{ if $heading }}{{ $heading | markdownify }}{{ else }}{{ $content | markdownify }}{{ end }}
    </div>
</div>
{{ else }}
<div class="inline-flex border px-4 py-2 mr-4 rounded-md my-[{{ $marginY }}]{{ if ne $width "auto" }} w-[{{ $width }}]{{ end }}{{ if ne $height "auto" }} h-[{{ $height }}]{{ end }}{{ if $bgColor }} bg-[{{ $bgColor }}]{{ end }}{{ if eq $bgColor "white" }} text-black{{ end }} border-[{{ $borderColor }}]">
  {{ $content | markdownify }}
</div>
{{ end }}