{{ $heading := .Get "heading" }}
{{ $ariaLabel := .Get "ariaLabel" }}
{{ $bgColor := .Get "bgColor" }}
{{ $textColor := .Get "textColor" }}
{{ $borderColor := .Get "borderColor" }}

<div class="flex justify-center items-center">
    <div 
    style="
    {{if $bgColor}}background-color: {{ $bgColor }};{{end}}
    {{if $textColor}}color: {{ $textColor }};{{end}}
    {{if $borderColor}}border-color: {{ $borderColor }};{{end}}
    "
    aria-label="{{ $ariaLabel }}" 
    class="heading-box flex px-4 my-4 border border-main rounded-md">
        {{ $heading | markdownify }}
    </div>
</div>
